* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Proxima-Nova", "sans-serif", "Segoe UI", Tahoma, Verdana;
}
/*  Page No.1 Contact-info  */
.body-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.header-3 {
  margin-top: 60px;
  height: 35px;
  border: 0px;
  box-shadow: 0 4px 3px 0 #0e0d0d57;
  font-family: "Roboto";
  font-size: 14px;
}
.nav-3 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.nav-3 > a {
  text-decoration: none;
  color: black;
}
.nav-3 > a > span {
  border-radius: 50%;
  color: white;
  padding: 1px 8px 3px 8px;
  background-color: #90b27a;
}
#questions,
#b00k {
  background-color: #0e0d0d57;
  color: white;
}
.nav-3 .offline {
  color: rgb(0, 0, 0, 0.5);
}
.offlight {
  background: rgba(0, 0, 0, 0.3);
  transform: rotate(90deg);
  width: -25px;
  margin-top: 5px;
}
#contact-info-1 {
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  font-family: "Red-Hat-Display";
  font-weight: 700;
  font-size: 20px;
}
/*  first-form  */

.first-form > {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__div {
  width: 80%;
  margin: 0% auto;
}
.form__div {
  position: relative;
  height: 55px;
  margin-bottom: 1.5rem;
}
.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  border: 1px solid #dadce0;
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: #80868b;
  font-size: 1rem;
  transition: 0.3s;
}
.form__button {
  display: block;
  margin: 0% 70%;
  padding: 0.5rem 1.1rem;
  outline: none;
  border: none;
  background-color: #90b27a;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
/*Input focus move up label*/
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: #0e0d0d57;
  background-color: rgb(233, 230, 230);
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus sticky top label*/
.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: 0.75rem;
  font-weight: 500;
  z-index: 10;
}

/*Input focus*/
.form__input:focus {
  border: 1.5px solid #0e0d0d57;
}

/*  Page No.2 Before-visit-info  */

/*  second-form  */
#contact-info-2 {
  margin: 25px 0 25px 0;
  display: flex;
  justify-content: flex-start;
  margin-left: 6%;
  font-family: "Red-Hat-Display";
  font-weight: 700;
  font-size: 20px;
}
.second-form .input-form-2,
.form__select {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 6%;
  line-height: 40px;
}
.form__select p {
  font-family: "Red-Hat-Display";
  font-weight: 400;
  font-size: 14px;
}
.select_optin {
  margin-left: 12px;
  line-height: 12px;
}
select {
  border: 0px;
  border-bottom: 2px solid #0e0d0d57;
}
/* .form__select .select_optin::after {
  content: "\25bc";
} */
/* .form__select #location,
#viewing,
#visit:hover {
  color: #221f1f;
  background-color: #221f1f2c;
} */
.form__select #location {
  margin-bottom: 20.5rem;
}
.form__select #visit {
  margin-bottom: 8.5rem;
}
.form__select #viewing {
  margin-bottom: 15.5rem;
}
.butt0n {
  display: flex;
  flex-direction: row;
  margin: 25px 0 25px 170px;
}
#back-5 {
  margin-right: 20px;
  padding: 0.5rem 1.1rem;
  border: 2px solid #90b27b;
  background-color: #fff;
  color: black;
  font-size: 0.87rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
#next-5 {
  padding: 0.5rem 1.1rem;
  outline: none;
  border: none;
  background-color: #90b27a;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
